@{
    ViewBag.Title = "Contact";
}

<h1 class="pageTitle">Contact</h1>
<div class="row">
    <div class="textCenter">
        <div class="text">
            <h2 class="textTitle">Get in Touch</h2>
            <p class="textText">We’re currently accepting new client projects. We look forward to serving you.</p>
        </div>
    </div>


    <div class="mainMapAndContact">
        <div class="S12 M8 L8">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2540.3028837458382!2d30.592132199999995!3d50.4540843!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cfe8cd8d2247%3A0xb17850d868daf500!2z0LLRg9C7LiDQnNC40LrRltC70YzRgdGM0LrQvi3QodC70L7QsdGW0LTRgdGM0LrQsCwgMtCRLCDQmtC40ZfQsiwg0LzRltGB0YLQviDQmtC40ZfQsg!5e0!3m2!1sru!2sua!4v1425147847450" width="770" height="350" frameborder="0" style="border:0"></iframe>
            </div>
        </div>
        <div class="S12 M4 L4">
            <div class="contact">
                <h3 class="contactTitle">Contact Details</h3>
                <div class="contactMail"><a class="contactMailLink" href="mailto:info@svitla.com">info@svitla.com</a></div>
                <div class="contactPhone"><a class="contactPhoneLink" href="tel:650-917-9544">650-917-9544</a></div>
                <div class="contactAddress">
                    <p class="contactAddressName">Svitla Systems, Inc.</p>
                    <p class="contactAddressStreet">1501 Howard Street,</p>
                    <p class="contactAddressState">San Francisco, California 94103</p>
                    <p class="contactAddressCountry">USA</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row rowSep30">
    <div class="mainForm">
        <form action="">
            <div class="M6 L6 colSep30">
                <div class="formGroup">
                    <input class="formEl" type="text" placeholder="Full Name"/>
                </div>
            </div>
            <div class="M6 L6 colSep30">
                <div class="formGroup">
                    <input class="formEl" type="email" placeholder="Email Address"/>
                </div>
            </div>
            <div class="formGroup colSep30">
                <textarea class="formEl" name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            </div>
            <div class="M3 L3 colSep30 rightM">
                <div class="btnFormSubmitWrap">
                    <button class="btn bgButtonForm S12">Send Message</button>
                </div>
            </div>
        </form>
    </div>
</div>
