@{
    ViewBag.Title = "Index";
}

<div class="textCenter">
    <div class="text">
        <h2 class="textTitle">Hello!</h2>
        <p class="textText">Thank you for visiting our web developers team site-portfolio.</p>
        <p class="textText">On this site you can see some information about us, our projects and of course about our founder!</p>
        <q class="quote">Hard work beats talent!</q>
        <p class="textText">First of all we want introduce our founder. He is a very humble man. He don't want that information about him was on the first page . He says: "For all my success , I thank my team!". But we didn't obey him this time! SMILE))) </p>
    </div>
</div>

<div class="mainFounder">
    <div class="row rowSep40">
        <div class="founderMinInfo founderBlock">
            <div class="colSep40">
                <h3 class="mainFounderTitle founderTitle">Basic Information</h3>
            </div>
            <div class="S12 M6 L6 colSep40">
                <div class="textCenter">
                    <div class="founderAvatar">
                        <img src="@Url.Content("~/Content/images/avatar.jpg")" alt="Avatar"/>
                    </div>
                </div>
            </div>
            <div class="S12 M6 L6 colSep40">
                <div class="founderInfo">
                    <ul class="founderInfoList">
                        <li class="founderInfoItem"><b>Name: </b> Alexandr Oksanych</li>
                        <li class="founderInfoItem"><b>Age: </b> 24</li>
                        <li class="founderInfoItem"><b>City: </b> Kiev</li>
                        <li class="founderInfoItem"><b>Specialization: </b> Front-end</li>
                        <li class="founderInfoItem"><b>Skills: </b>
                            <span class="founderInfoItemSkill">HTML</span>
                            <span class="founderInfoItemSkill">CSS</span>
                            <span class="founderInfoItemSkill">Jade</span>
                            <span class="founderInfoItemSkill">Sass</span>
                            <span class="founderInfoItemSkill">JavaScript</span>
                            <span class="founderInfoItemSkill">jQuery</span>
                            <span class="founderInfoItemSkill">Bootstrap</span>
                            <span class="founderInfoItemSkill">Git</span>
                            <span class="founderInfoItemSkill">Wordpress</span>
                            <span class="founderInfoItemSkill">Gulp</span>
                            <span class="founderInfoItemSkill">Bower</span>
                            <span class="founderInfoItemSkill">Photoshop</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="founderWork founderBlock">
        <h3 class="founderWorkTitle founderTitle">Work experience</h3>
        <ul class="founderWorkList">
            <li class="founderWorkItem typcn typcn-briefcase">
                <b>"Credit Collection Group" - Leading specialist in the recovery of debts</b>
                <p>September 2011 - November 2012</p>
            </li>
            <li class="founderWorkItem typcn typcn-briefcase">
                <b>"Credit Collection Group" - Specialist in quality control of contact center holding</b>
                <p>December 2012 - February 2014</p>
            </li>
            <li class="founderWorkItem typcn typcn-pencil">
                <b>Freelancer</b>
                <p>March 2014 - up to present</p>
            </li>
        </ul>
    </div>
    <div class="founderEducation founderBlock">
        <h3 class="founderEducationTitle founderTitle">Education</h3>

        <ul class="founderEducationList">
            <li class="founderEducationItem founderEducationItemUni typcn typcn-mortar-board">
                <b>KNUTD, Marketing</b>
                <p>September 2007 - May 2012</p>
            </li>
            <li class="founderEducationItem founderEducationItemCourse typcn typcn-business-card">
                <b>Courses STEP - Web-project</b>
                <p>November 2013 - November 2014</p>
            </li>
            <li class="founderEducationItem founderEducationItemCourse typcn typcn-business-card">
                <b>Courses LoftSchool - Front-end</b>
                <p>December 2013 - February 2014</p>
            </li>
            <li class="founderEducationItem founderEducationItemCourse typcn typcn-business-card">
                <b>Courses SvitlaSystems - Front-end</b>
                <p>February 2013 - March 2014</p>
            </li>
        </ul>
    </div>
</div>
