@{
    ViewBag.Title = "PortfolioPreview";
}

<h1 class="pageTitle">Portfolio</h1>
<div class="row rowSep40">
    <div class="mainNextPrew colSep40 cf">
        <div class="pre"><a href="#">PREVIOUS PROJECT</a></div>
        <div class="next"><a href="#">NEXT PROJECT</a></div>
    </div>
    <div class="S12 M8 L8 colSep40">
        <div class="previewImg">
            <img src="@Url.Content("~/Content/images/portfolioPreview/studioLin/Untitled-1.jpg")" alt="studioLin"/>
            <img src="@Url.Content("~/Content/images/portfolioPreview/studioLin/Untitled-2.jpg")" alt="studioLin"/>
            <img src="@Url.Content("~/Content/images/portfolioPreview/studioLin/Untitled-3.jpg")" alt="studioLin"/>
        </div>
    </div>

    <div class="S12 M4 L4 colSep40">
        <div class="mainProjectInfo">
            <h2 class="projectTitle">Studio Lin</h2>
            <div class="projectInfo">
                <div class="info"><span class="projectSkillsBold">Skills: </span> Branding, Illustrator, Print</div>
                <div class="info"><span class="projectSkillsBold">Date: </span> January 2012</div>
                <div class="info"><span class="projectSkillsBold">Client: </span> Envato</div>
                <div class="projectAbout">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean eu leo quam.</div>
                <a href="#" class="projectLink">septemberindustry.co.uk</a>
            </div>
        </div>
    </div>
</div>
