@{
    ViewBag.Title = "Team";
}

<h1 class="pageTitle">Team</h1>
            <div class="row rowSep40">
                <div class="textCenter">
                    <div class="text">
                        <h2 class="textTitle">Who We Are? Meet Our Team!</h2>
                        <p class="textText">We listen, we discuss, we advise and develop. We love to learn and use the latest technologies.</p>
                    </div>
                </div>

                <div class="mainTeam">
                    <div class="S12 M4 L4 colSep40 textCenter">
                        <section class="teamPerson">
                            <div class="personPreview">
                                <div class="personPhoto"><img src="@Url.Content("~/Content/images/aboutPhotoPreview/Untitled-1.jpg")" alt="Person_1"/></div>
                                <div class="personName">ALex G</div>
                                <div class="personJobTitle">CEO</div>
                            </div>
                            <div class="personAbout">Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget
                                mauris eget.</div>
                        </section>
                    </div>
                    <div class="S12 M4 L4 colSep40 textCenter">
                        <section class="teamPerson">
                            <div class="personPreview">
                                <div class="personPhoto"><img src="@Url.Content("~/Content/images/aboutPhotoPreview/Untitled-2.jpg")" alt="Person_2"/></div>
                                <div class="personName">John Doe</div>
                                <div class="personJobTitle">Project Manager</div>
                            </div>
                            <div class="personAbout">Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget
                                mauris eget.</div>
                        </section>
                    </div>
                    <div class="S12 M4 L4 colSep40 textCenter">
                        <section class="teamPerson">
                            <div class="personPreview">
                                <div class="personPhoto"><img src="@Url.Content("~/Content/images/aboutPhotoPreview/Untitled-3.jpg")" alt="Person_3"/></div>
                                <div class="personName">Anna White</div>
                                <div class="personJobTitle">Developer</div>
                            </div>
                            <div class="personAbout">Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget
                                mauris eget.</div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="row rowSep40">
                <div class="mainSkills">
                    <div class="S12 M6 L3 textCenter colSep40">
                        <div class="skill">
                            <div class="skillChart">
                                <div class="chart _chart" data-percent="92"><span>92</span>%</div>
                            </div>
                            <div class="skillName">HTML</div>
                            <div class="skillAbout">Nulla consectetur ornare nibh, a auctor mauris scelerisque eu proin nec urna quis.</div>
                        </div>
                    </div>
                    <div class="S12 M6 L3 textCenter colSep40">
                        <div class="skill">
                            <div class="skillChart">
                                <div class="chart _chart" data-percent="85"><span>85</span>%</div>
                            </div>
                            <div class="skillName">CSS</div>
                            <div class="skillAbout">Nulla consectetur ornare nibh, a auctor mauris scelerisque eu proin nec urna quis.</div>
                        </div>
                    </div>
                    <div class="S12 M6 L3 textCenter colSep40">
                        <div class="skill">
                            <div class="skillChart">
                                <div class="chart _chart" data-percent="45"><span>45</span>%</div>
                            </div>
                            <div class="skillName">Woocommerce</div>
                            <div class="skillAbout">Nulla consectetur ornare nibh, a auctor mauris scelerisque eu proin nec urna quis.</div>
                        </div>
                    </div>
                    <div class="S12 M6 L3 textCenter colSep40">
                        <div class="skill">
                            <div class="skillChart">
                                <div class="chart _chart" data-percent="99"><span>99</span>%</div>
                            </div>
                            <div class="skillName">Fun</div>
                            <div class="skillAbout">Nulla consectetur ornare nibh, a auctor mauris scelerisque eu proin nec urna quis.</div>
                        </div>
                    </div>
                </div>
            </div>
